# Dossiers et fichiers généraux à ignorer
.DS_Store # Fichiers macOS
*.pyc
__pycache__/

# Environnement virtuel Python (C'EST LA CLÉ)
# Votre avertissement vient du fait que Git essaie de suivre des fichiers DANS venv.
venv/
.venv/

# Base de données locale (si vous utilisez SQLite)
db.sqlite3

# Fichiers de configuration spécifiques à l'IDE (ex: VS Code, PyCharm)
.idea/
.vscode/

# Fichiers de log ou de données générés
*.log
/media
/static_collected